.master-container
	background-color: #181818
	color: white
	display: flex
	font-family: Arial, sans-serif
	font-size: 20px
	min-height: 100vh

	.content
		min-width: 600px
		padding: 20px
		width: 100%

	.disclaimer
		float: right
		font-size: 12px

	.sidebar
		width: 330px
		flex-shrink: 0
