.master-container
	background-color: #181818
	color: white
	display: flex
	font-family: Arial, sans-serif
	font-size: 20px
	min-height: 100vh

	.content
		padding: 20px
		width: 100%

	.sidebar
		width: 330px
		flex-shrink: 0
