<div class="container">
	<div class="row title-bar">
		<h1 class="col-sm">Maps</h1>
		<div class="col-md">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Search">
				<button class="btn btn-primary" type="button">
					<fa-icon [icon]="faPlay"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="author-panel">
		<div *ngFor="let author of mapList">
			<a class="author" data-bs-toggle="collapse" [href]="'#' + normalizeName(author.authorName)">
				<fa-icon [icon]="faChevronRight" class="arrow-icon"></fa-icon>{{author.authorName}}
			</a>
			<div class="collapse map-section" [id]="normalizeName(author.authorName)">
				<a class="collapsible" data-bs-toggle="collapse" [href]="'#' + normalizeName(author.authorName)">
					<div class="line"></div>
				</a>
				<div class="map-list">
					<div *ngFor="let map of author.maps" [id]="map.Name">
						<div class="map-links">
							<div class="copy" (click)="copyMapScript($event.srcElement)">
								<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
								<div>
									{{map.Name}}
									<div class="map-subtitle">{{getMapSubtitle(map)}}</div>
								</div>
							</div>
							<div class="download" (click)="downloadMapScript($event.srcElement)">
								<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
								Download
							</div>
						</div>
						<p class="notes">{{map.Notes}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>