.title-bar
	margin-top: 70px

	h1
		font-size: 50px
		font-weight: normal

.author-panel
	margin-top: 15px

	.author
		color: #ffff00
		display: inline-block
		text-decoration: none
		font-size: 26px
		font-weight: bold
		width: 100%
		&:hover
			text-decoration: underline
		&[aria-expanded="true"]
			.arrow-icon
				transform: rotate(90deg)
		.arrow-icon
			color: #c0c0c0
			display: inline-block
			margin-right: 10px
			-webkit-transition: all 0.1s linear

	.map-list
		max-width: 900px
		padding-bottom: 5px
		transition: 0.15s

		.map-links
			color: #0094ff
			display: flex
			justify-content: space-between
			text-decoration: none
			font-size: 22px
			font-weight: bold
			padding-left: 30px
			width: 100%

			.copy
				display: flex
				&:hover
					cursor: pointer
					text-decoration: underline

				.map-subtitle
					color: #59bcff
					display: inline

			.download
				flex-shrink: 0
				&:hover
					cursor: pointer
					text-decoration: underline

			.map-button
					margin: 0 10px

		.notes
			color: #bbbbbb
			font-size: 16px
			font-style: italic
			margin: 0
			padding-left: 40px
