<div class="container">
	<div class="row title-bar">
		<h1 class="col-sm">
			<div class="title">Maps</div>
			<button class="btn btn-primary download-all" type="button" (click)="downloadAllMaps()">
				<div class="download-all-text">Download All</div>
			</button>
		</h1>
		<div class="col-md">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchString" (keyup.enter)="filterMaps()">
				<button class="btn btn-primary" type="button" (click)="filterMaps()">
					<fa-icon [icon]="faPlay"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="author-panel">
		<div *ngFor="let author of filteredMapList">
			<a class="author" data-bs-toggle="collapse" [href]="'#' + normalizeName(author.authorName)">
				<fa-icon [icon]="faChevronRight" class="arrow-icon"></fa-icon>{{author.authorName}}
			</a>
			<div class="collapse map-section" [id]="normalizeName(author.authorName)">
				<a class="collapsible" data-bs-toggle="collapse" [href]="'#' + normalizeName(author.authorName)">
					<div class="line"></div>
				</a>
				<div class="map-list">
					<div *ngFor="let map of author.maps" [id]="map.Name">
						<div class="map-links" [ngClass]="{'no-links': !map.FileName}">
							<div [ngClass]="map.FileName ? 'copy' : 'no-copy'" (click)="map.FileName ? copyMapScript(map.FileName) : null">
								<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
								<div>
									{{map.Name}}
									<div class="map-subtitle">{{getMapSubtitle(map)}}</div>
								</div>
							</div>
							<a [ngClass]="map.FileName ? 'download' : 'no-download'" target="_blank" [attr.href]="map.FileName ? getDownloadLink(map.FileName) : null" [download]="getDownloadFileName(map.FileName)">
								<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
								Download
							</a>
						</div>
						<p class="notes">{{map.Notes}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>