<div class="logo-area">
	<img src="../../assets/Optix.svg" alt="Optix" class="logo" />
</div>
<div class="content">
	<p>Welcome to Optix, the community for racing in Feng's Attack on Titan Tribute Game (AoTTG). Make use of the 3D Maneuver Gear from the Attack on Titan anime and race through various community created courses!</p>
	<div class="row newest-records">
		<div class="col-lg-6">
			<h2>Newest <span class="speed">Speed</span> Record</h2>
			<iframe src="https://www.youtube.com/embed/X-IhqS-D4Ak" class="video" title="Zil - Ireeeeee 31.56" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
		<div class="col-lg-6">
			<h2>Newest <span class="lava">Lava</span> Record</h2>
			<iframe src="https://www.youtube.com/embed/qslrkE7kYlE" class="video" title="Incendium - Inferno II World Record (252s)" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</div>
</div>