<div class="container">
	<div class="row title-bar">
		<h1 class="col-sm">Maps</h1>
		<div class="col-md">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Search">
				<button class="btn btn-primary" type="button">
					<fa-icon [icon]="faPlay"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="author-panel">
		<a class="author" data-bs-toggle="collapse" href="#collapse1">
			<fa-icon [icon]="faChevronRight" class="arrow-icon"></fa-icon>Absolute
		</a>
		<div class="collapse map-list" id="collapse1">
			<div class="map" id="pace">
				<div class="copy-container">
					<div class="copy" (click)="copyMapScript($event.srcElement)">
						<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
						Pace
					</div>
				</div>
				<div class="download" (click)="downloadMapScript($event.srcElement)">
					<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
					Download
				</div>
			</div>
		</div>
		<a class="author" data-bs-toggle="collapse" href="#collapse2">
			<fa-icon [icon]="faChevronRight" class="arrow-icon"></fa-icon>Alpi
		</a>
		<div class="collapse map-list" id="collapse2">
			<div class="map" id="galactichell">
				<div class="copy-container">
					<div class="copy" (click)="copyMapScript($event.srcElement)">
						<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
						Galactic Hell
					</div>
				</div>
				<div class="download" (click)="downloadMapScript($event.srcElement)">
					<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
					Download
				</div>
			</div>
		</div>
		<a class="author" data-bs-toggle="collapse" href="#collapse3">
			<fa-icon [icon]="faChevronRight" class="arrow-icon"></fa-icon>AndyXest
		</a>
		<div class="collapse map-list" id="collapse3">
			<div class="map" id="attackonthevillage">
				<div class="copy-container">
					<div class="copy" (click)="copyMapScript($event.srcElement)">
						<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
						Attack on the Village
					</div>
				</div>
				<div class="download" (click)="downloadMapScript($event.srcElement)">
					<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
					Download
				</div>
			</div>
			<div class="map" id="celestialstatue">
				<div class="copy-container">
					<div class="copy" (click)="copyMapScript($event.srcElement)">
						<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
						Celestial Statue
					</div>
				</div>
				<div class="download" (click)="downloadMapScript($event.srcElement)">
					<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
					Download
				</div>
			</div>
			<div class="map" id="collapseofthearenas">
				<div class="copy-container">
					<div class="copy" (click)="copyMapScript($event.srcElement)">
						<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
						Collapse of the Arenas
					</div>
				</div>
				<div class="download" (click)="downloadMapScript($event.srcElement)">
					<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
					Download
				</div>
			</div>
			<div class="map" id="collapseofthearenaslava">
				<div class="copy-container">
					<div class="copy" (click)="copyMapScript($event.srcElement)">
						<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
						Collapse of the Arenas [Lava]
					</div>
				</div>
				<div class="download" (click)="downloadMapScript($event.srcElement)">
					<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
					Download
				</div>
			</div>
			<div class="map" id="devilscorridor">
				<div class="copy-container">
					<div class="copy" (click)="copyMapScript($event.srcElement)">
						<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
						Devil's Corridor [Safe Walls]
					</div>
				</div>
				<div class="download" (click)="downloadMapScript($event.srcElement)">
					<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
					Download
				</div>
			</div>
			<div class="map" id="devilscorridorlava">
				<div class="copy-container">
					<div class="copy" (click)="copyMapScript($event.srcElement)">
						<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
						Devil's Corridor [Lava]
					</div>
				</div>
				<div class="download" (click)="downloadMapScript($event.srcElement)">
					<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
					Download
				</div>
			</div>
		</div>
	</div>
</div>