<div class="container">
	<div class="row title-bar">
		<h1 class="col-sm">Maps</h1>
		<div class="col-md">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Search">
				<button class="btn btn-primary" type="button">
					<fa-icon [icon]="faPlay"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="author-panel">
		<a class="author" data-bs-toggle="collapse" href="#collapse1">
			<fa-icon [icon]="faChevronRight" class="arrow-icon"></fa-icon>Absolute
		</a>
		<div class="collapse map-list" id="collapse1">
			<a class="map" href="https://pastebin.com/raw/1enz2RTZ">
				<fa-icon [icon]="faDownload"></fa-icon>
				Pace
			</a>
		</div>
		<a class="author" data-bs-toggle="collapse" href="#collapse2">
			<fa-icon [icon]="faChevronRight" class="arrow-icon"></fa-icon>Alpi
		</a>
		<div class="collapse map-list" id="collapse2">
			<a class="map" href="https://pastebin.com/raw/jwyAHnYJ">
				<fa-icon [icon]="faDownload"></fa-icon>
				Galactic Hell
			</a>
		</div>
		<a class="author" data-bs-toggle="collapse" href="#collapse3">
			<fa-icon [icon]="faChevronRight" class="arrow-icon"></fa-icon>AndyXest
		</a>
		<div class="collapse map-list" id="collapse3">
			<a class="map" href="https://pastebin.com/raw/1fY7QEsf">
				<fa-icon [icon]="faDownload"></fa-icon>
				Attack on the Village
			</a>
			<a class="map" href="https://pastebin.com/raw/bVnv7pxA">
				<fa-icon [icon]="faDownload"></fa-icon>
				Celestial Statue
			</a>
			<a class="map" href="https://pastebin.com/raw/LEtuydSi">
				<fa-icon [icon]="faDownload"></fa-icon>
				Collapse of the Arenas
			</a>
			<a class="map" href="https://pastebin.com/raw/PHq7eny8">
				<fa-icon [icon]="faDownload"></fa-icon>
				Collapse of the Arenas [Lava]
			</a>
			<a class="map" href="https://pastebin.com/raw/LkFS2CS1">
				<fa-icon [icon]="faDownload"></fa-icon>
				Devil's Corridor [Safe Walls]
			</a>
			<a class="map" href="https://pastebin.com/raw/MKkmBJhQ">
				<fa-icon [icon]="faDownload"></fa-icon>
				Devil's Corridor [Lava]
			</a>
		</div>
	</div>
</div>