<div class="container">
	<div class="row title-bar">
		<h1 class="col-sm">World Records</h1>
		<div class="col-md">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Search by Map/Author">
				<button class="btn btn-primary" type="button">
					<fa-icon [icon]="faPlay"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<table class="world-records table table-dark">
		<thead>
		  	<tr>
				<th scope="col">Author</th>
				<th scope="col">Map Name</th>
				<th scope="col">First</th>
				<th scope="col">Second</th>
				<th scope="col">Third</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let recordRow of filtered_records_list">
				<th scope="row">{{recordRow.author}}</th>
				<td>{{recordRow.map}}</td>
				<td>{{getRecordText(recordRow.records[0])}}</td>
				<td>{{getRecordText(recordRow.records[1])}}</td>
				<td>{{getRecordText(recordRow.records[2])}}</td>
			</tr>
		</tbody>
	</table>
</div>