<div class="container">
	<div class="row title-bar">
		<h1 class="col-lg">
			<div class="title">Bot Maps</div>
		</h1>
		<div class="col-md">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchString" (keyup.enter)="filterMaps()">
				<button class="btn btn-primary" type="button" (click)="filterMaps()">
					<fa-icon [icon]="faPlay"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="author-panel">
		<div *ngFor="let author of filteredMapList">
			<a class="author" data-bs-toggle="collapse" [href]="'#' + normalizeName(author.authorName)">
				<fa-icon [icon]="faChevronRight" class="arrow-icon"></fa-icon>{{author.authorName}}
			</a>
			<div class="collapse map-section" [id]="normalizeName(author.authorName)">
				<a class="collapsible" data-bs-toggle="collapse" [href]="'#' + normalizeName(author.authorName)">
					<div class="line"></div>
				</a>
				<div class="map-list">
					<div *ngFor="let nextMap of author.maps">
						<div class="map-row">
							<div class="copy">
								<div class="map-id">[{{nextMap[0]}}]</div>
								<div class="link" (click)="copyMapScript(nextMap[0])">
									<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
									<div class="link-text">{{nextMap[1]}}</div>
								</div>
							</div>
							<div class="link download" (click)="downloadFile(nextMap[0])">
								<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
								<div class="link-text">Download</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>