<div class="container">
	<div class="row title-bar">
		<h1 class="col-lg">
			<div class="title">Maps</div>
			<button class="btn btn-primary download-all" type="button" (click)="downloadAllMaps()">
				<div class="download-all-text">Download All</div>
			</button>
		</h1>
		<div class="col-md">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchString" (keyup.enter)="filterMaps()">
				<button class="btn btn-primary" type="button" (click)="filterMaps()">
					<fa-icon [icon]="faPlay"></fa-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="author-panel">
		<div *ngFor="let author of filteredMapList">
			<a class="author" data-bs-toggle="collapse" [href]="'#' + normalizeName(author.authorName)">
				<fa-icon [icon]="faChevronRight" class="arrow-icon"></fa-icon>{{author.authorName}}
			</a>
			<div class="collapse map-section" [id]="normalizeName(author.authorName)">
				<a class="collapsible" data-bs-toggle="collapse" [href]="'#' + normalizeName(author.authorName)">
					<div class="line"></div>
				</a>
				<div class="map-list">
					<div *ngFor="let map of author.maps" [id]="map.name">
						<div class="map-links" [ngClass]="{'no-links': !map.fileName}">
							<div [ngClass]="map.fileName ? 'copy' : 'no-copy'" (click)="map.fileName ? copyMapScript(map.fileName) : null">
								<fa-icon class="map-button" [icon]="faCopy"></fa-icon>
								<div>
									{{map.name}}
									<div class="map-subtitle">{{getMapSubtitle(map)}}</div>
								</div>
							</div>
							<div class="link-group">
								<a class="link stat-link" [routerLink]="[map._id]">
									<fa-icon class="map-button" [icon]="faChartSimple"></fa-icon>
									<div class="link-text">Stats</div>
								</a>
								<a [ngClass]="map.fileName ? 'link' : 'no-link'" target="_blank"
									[attr.href]="map.fileName ? getDownloadLink(map.fileName) : null" [download]="getDownloadFileName(map.fileName)">
									<fa-icon class="map-button" [icon]="faDownload"></fa-icon>
									<div class="link-text">Download</div>
								</a>
							</div>
						</div>
						<p class="notes">{{map.notes}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>