.login-register-wrapper
	align-items: center
	display: flex
	height: 100dvh
	justify-content: center

	.buttons
		align-items: center
		display: flex
		flex-direction: column

		.form-button
			font-size: 18px
			margin-bottom: 20px
			width: 260px

	.checkbox-row
		padding-left: 20px
	
	.final-form-row
		margin-bottom: 35px
		width: 500px

	.form-row
		margin-bottom: 20px
		width: 500px
	
	.title-wrapper
		margin-bottom: 35px

		.subtitle
			color: #ccc
			font-size: 16px
			font-style: italic